/Gradle__commons_logging_commons_logging_1_2.xml
/Gradle__javax_servlet_javax_servlet_api_3_0_1.xml
/Gradle__junit_junit_4_11.xml
/Gradle__log4j_log4j_1_2_17.xml
/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/Gradle__org_junit_jupiter_junit_jupiter_api_5_0_0_M3.xml
/Gradle__org_junit_platform_junit_platform_commons_1_0_0_M3.xml
/Gradle__org_opentest4j_opentest4j_1_0_0_M1.xml
/Gradle__org_postgresql_postgresql_42_0_0_jre7.xml
/Gradle__org_springframework_spring_aop_4_3_5_RELEASE.xml
/Gradle__org_springframework_spring_beans_4_3_5_RELEASE.xml
/Gradle__org_springframework_spring_context_4_3_5_RELEASE.xml
/Gradle__org_springframework_spring_core_4_3_5_RELEASE.xml
/Gradle__org_springframework_spring_expression_4_3_5_RELEASE.xml
/Gradle__org_springframework_spring_web_4_3_5_RELEASE.xml
